*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: var(--background);
}
.main-row{
    display: grid;
    grid-template-columns: 19vw auto 20vw;
    column-gap: 1.2rem;
    margin: 0 10%;
}
.between{
    padding-top: 50px;
}
@media screen and (max-width: 900px) {
    
    .middle{
        margin-top: 10%;
        margin-left: 0;
    }
    .main-row{
       display: flex;
       flex-direction: column;
        margin:0;
        justify-content: center;
    }
    .between{
        padding-top:0px ;
    }
}