*{
    margin: 0;
}
.nav{
    background: var(--white);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0;
    padding: 5px 10%;
    z-index: 2;
}
.searchbar{
    padding: 10px;
    background: var(--background);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.searchbar input{
    border: none;
    border-radius: 25px;
    background: var(--background);
}
.img1{
    background-image: url(../../../public/avatar1.jpg);
    background-size: cover;
    width: 80px;
    height: 50px;
    border-radius: 50%;
}
.nav-end{
    display: flex;
    justify-content: space-between;
    gap:10%;
}
.btn1{
    background: var(--gradient);
    box-shadow: 0 0 3px 0;
    border-radius: 200px;
    color: var(--white);
    padding: 5px;
        
}
.btn1:hover{
    cursor: pointer;
}
label:hover{
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .nav{
        width: 100%;
        justify-content:center;
        align-items: center;
    }
    .searchbar{
        background: var(--white);
    }
    .searchbar input {
        display: none;
    }
    .searchbar span{
        display: none;
    }
}